.controller{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 25rem;
    height: auto;
    justify-content: space-between;
    align-items: center;
    background-color: #5d5c5cdb;
    border-radius: 5px;
    font-size: 2rem;
    padding: 1rem;
    margin-top: .5rem;
    -webkit-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;


    div{
        &:first-child{
            width: 100%;
        }
        cursor: pointer;
        transition: .1s all;
        width: 33.3%;
        &:active{
            background-color: rgb(168, 73, 73);
        }

    }
}